<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.webstudy.mapper.security.SysRoleMapper">

    <!-- 基础结果集mapper-->
    <resultMap id="baseResultMap" type="com.zyh.webstudy.domain.security.SysRole">
        <id property="id" column="rId"/>
        <result property="name" column="rName"/>
        <result property="nameZh" column="rNameZh"/>
    </resultMap>
     <!-- 查询所有角色 -->
    <select id="selectAllRoles" resultMap="baseResultMap">
          select
             sy.id as rId,
             sy.name as rName,
             sy.nameZh as rNameZh
          from
            sys_role sy
      </select>
    <!-- 为角色分配权限 -->
    <insert id="insertMenus" parameterType="com.zyh.webstudy.domain.security.SysRelation">
        insert into sys_menu_role(mid,rid)
        values
        <foreach collection="list" item="sysRelation" separator=",">
            (
              #{sysRelation.fId},
              #{sysRelation.eId}
            )
        </foreach>
    </insert>
    <!-- 清空某个角色的权限 -->
    <delete id="deleteRoleofMenus" parameterType="java.lang.Integer">
        delete from sys_menu_role
        where rid = #{roleId}
    </delete>
    <!-- 删除角色的某些权限 -->
    <delete id="deleteRoleMenus" parameterType="java.util.HashMap">
        delete from
          sys_menu_role
        where rId = #{roleId}
        <foreach collection="deleteIds" open=" and mid in(" close=")" item="deleteId" separator="," >
            #{deleteId}
        </foreach>
    </delete>
    <!-- 添加角色 -->
    <insert id="insertOneRoles" parameterType="com.zyh.webstudy.domain.security.SysRole">
        insert into sys_role(`name`,`nameZh`)
        values (#{name},#{nameZh})
    </insert>
    <!-- 修改角色 -->
    <update id="updateOneRoles" parameterType="com.zyh.webstudy.domain.security.SysRole">
        update sys_role
        set `name` = #{name},nameZh = #{nameZh}
        where id = #{id}
    </update>

    <!-- 删除角色 -->
    <delete id="deleteOneRole" parameterType="java.lang.Integer">
       delete from sys_role
       where id = #{id}
    </delete>

</mapper>
