<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.webstudy.mapper.course.CourseDetailsMapper">

    <!-- 基础结果集mapper-->
    <resultMap id="baseResultMap" type="com.zyh.webstudy.domain.course.CourseDetails">
        <id property="id" column="cId"/>
        <result property="description" column="cDescription"/>
        <result property="delete" column="cDelete"/>
        <result property="createTime" column="cCreateTime"/>
        <result property="updateTime" column="cUpdateTime"/>
    </resultMap>

    <!-- 插入课程简介 -->
    <insert id="insertOneCourse" parameterType="com.zyh.webstudy.domain.course.CourseDetails">
          insert into
          web_course_details(
              id,
              description,
              `delete`,
              createTime,
              updateTime
         )values (
            #{id},
            #{description},
            #{delete},
            #{createTime},
            #{updateTime}
         )
    </insert>

    <!-- 查询课程详情 -->
    <select id="selectOneCourseDetails" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select
	        wcd.id as cId,
	        wcd.description as cDescription,
	        wcd.`delete` as cDelete,
	        wcd.createTime as cCreateTime,
	        wcd.updateTime as cUpdateTime
	    from web_course_details wcd
	    where
	        wcd.id  = #{courseId}
    </select>

    <!-- 删除课程详情信息 -->
    <delete id="deleteOneCourseDetail" parameterType="java.lang.Integer">
        delete from web_course_details
        where id = #{courseId}
    </delete>

    <update id="upDateOneCourseDetail" parameterType="com.zyh.webstudy.domain.course.CourseDetails">
        update
            web_course_details
        set
            description = #{description},
            updateTime = #{updateTime}
        where id = #{id};
    </update>
</mapper>
