<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.webstudy.mapper.course.VedioMapper">

    <!-- 插入一条数据 -->
    <insert id="insertOneVedio" parameterType="com.zyh.webstudy.domain.course.Vedio">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into web_vedio(
            courseId,
            capterId,
            vedioId,
            title,
            `delete`,
            createTime,
            updateTime
        ) values(
            #{courseId},
            #{capterId},
            #{vedioId},
            #{title},
            #{delete},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <!-- 删除小节信息 -->
    <delete id="deleteVedioById" parameterType="java.lang.Integer">
        delete from web_vedio
        where id = #{vedioId}
    </delete>

    <!-- 删除某个课程的小节信息 -->
    <delete id="deleteCourseOfVedios" parameterType="java.lang.Integer">
        delete from web_vedio
        where courseId = #{courseId}
    </delete>

    <!-- 删除某个章节的小节信息 -->
    <delete id="deleteCapterOfVedios" parameterType="java.lang.Integer">
        delete from web_vedio
        where capterId = #{capterId}
    </delete>

    <!-- 修改小节信息-->
    <update id="updateVedio" parameterType="com.zyh.webstudy.domain.course.Vedio">
        update
          web_vedio
        set
          vedioId = #{vedioId},
          title = #{title},
          updateTime = #{updateTime}
        where id = #{id}
    </update>

</mapper>
